# PostgreSQL
POSTGRES_DB=dashboard_db
POSTGRES_USER=dashboard_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=change_me
PGADMIN_PORT=5050

# Django backend
DJANGO_SECRET_KEY=change_me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
BACKEND_PORT=8000
